/* nav style */



.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.nav-making{
    height:150px;
    border: 2px solid red;
    background: rgb(255, 255, 255);
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 100px;
    /* border: 2px solid black; */
    background: rgb(255, 255, 255);
    
}

.main-title{
color: rgb(13, 19, 33);
font-size: 28px;
font-weight: 800;
}

nav ul li{
    list-style: none;
}
nav .button{
    list-style: none;
    font-size: 14px;
    font-weight: 400;
    color: rgb(13, 19, 33);
    width: 180px;
    height: 58px;
    border-radius: 8px;
    opacity: 0.8;
    border: 1px solid rgb(13, 19, 33);
    text-align: center;
}



/* header-part-two styles */

.header-part-two{
    height:450px;
    border: 2px solid black;
    margin-top: 5px;
    background-image: url(../assets/Hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* .header-part-two .all h2{
    text-align: center;
    
}

.header-part-two .all p{
    text-align: center; 
} */

.all img{
    /* border: 2px solid black; */
    height: 170px;
    width: 150px;
    margin-top:  30px;
}
/* .all .image-mia{
    width:50%;
    margin: 0 auto;
    
} */

/* .all{
    width: 50%;
    margin: 0 auto;
} */

/* .all .button-mia{
    width:50%;
    margin: 0 auto;
} */

.all .button-mia button{
    margin-top: 10px;
    border-radius: 8px;
    border: none;
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    width: 140px;
    height: 40px;
    text-align: center;
    opacity: 0.8;
}

.all{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.all h2{
    text-align: center;
}

.all p{
    text-align: center;
}